.container{
    margin: 3% 16% 3% 16%;        
    width: 68vw;
    display: grid;
    grid-template-columns: 40% 60%;
    border: 0.2vw solid #3b5537;
    box-shadow: 10px 5px 20px #3b553775;
}

body{
    display: flex;
    margin: 0;
}

.right-plate{
    background-color: #3b5537;

}

.left-plate{
    background-color: #E4E7E4;

}

#face-img{
    align-items: center;
    margin: 10% 10% 0% 10%;
    width: 80%;
    border-radius: 50%;
    animation-name: img;
    animation-duration: 8s;

}

@keyframes img {
    from{
        
        opacity: 0.1;
    }
    to{
        
        opacity: 1;
    }
}

.cv-name {
    font-weight:bold;
    font-size: 3vw;
    font-style: italic;
    text-align: center;
}

.job {

    font-size: 2vw;
    text-align: center;
}

li {
    list-style-type: none; /* Убираем маркеры */
    font-size: 2.2vw;
    padding-left: 3vw;
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: left center;
   }

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.contacts{
    font-size: 3vw;
}

.cont1 {
    background-image: url("../img/call_white_24dp.svg")
}
.cont2 {
    background-image: url("../img/mail.jpg");
}
.cont3 {
}
.cont4 {
}

.right-plate{
    background: rgba(138, 118, 7, 0.664);
    box-shadow: 0 -200px 100px -120px rgb(133, 60, 74) inset;
    animation: background 3s infinite ease-in-out;
}

@keyframes background {
    50% {
        background: rgb(15, 218, 184);
        box-shadow: 0 -200px 100px -100px rgb(18, 110, 90) inset;
      }
}

